/*整体风格设置*/
body{
	width:100%;
	height:100%;
	overflow: hidden;
	color:#444;
	background-color:#666;
	font:14px "微软雅黑", Verdana, Helvetica, Arial, sans-serif;
}
a{
	text-decoration: none;
	color: inherit;
}
strong{
	font-weight: 800;
}
.clr{
	clear:both !important;
}

/*容器设置*/
/*#spa{
	position:absolute;
	top:8px;
	right:8px;
	bottom:8px;
	left:8px;
	background: #fff;
	border-radius: 0px 8px 0px 8px;
	min-width: 500px;
	min-height: 500px;
	overflow: hidden;
}*/

/*聊天窗口模块*/
/*.spa-shell-chat{
	background-color:red;
	width:300px;
	height:16px;
	position:absolute;
	right:2px;
	bottom:0px;
	cursor:pointer;
	border-radius: 8px 0px 0px 0px;
}*/

